.dashboard-post {
  border: 2px solid #d1cfcf;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: white;
  color: #000;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;            
  overflow: hidden;      
}

.dashboard-post.no-image{
  max-height: 100%;
}

.post-header-strip {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;

  background: linear-gradient(135deg, #354ca1, #1e40af);
  color: white;

  width: 100%;
}


.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-post-profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-username {
  font-weight: bold;
  font-size: 1.2rem;
  word-break: break-word;
}

.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 10px;
  word-break: break-word;
}

.post-content {
  margin-top: 8px;
  word-break: break-word;
  padding-left: 15px;
  padding-right: 15px;
}

.post-image {
  width: 90%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 5px;
  margin-top: 4px;
  max-height: 350px;
  object-fit: cover;
  padding-left: 15px;
  padding-right: 15px;
}

.post-date {
  font-size: 0.8rem;
  color: #6b7280;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Mobile screens */
@media (max-width: 768px) {
  .dashboard-post {
    max-width: 100%;
  }

  .post-title {
    font-size: 1.1rem;
  }

  .post-username {
    font-size: 1rem;
  }

  .dashboard-post.no-image {
    max-height: 180px; /* even smaller on mobile if no image */
  }
}

.post-title{
  padding-top: 25px;
  padding-left: 15px;
}