.teams-box {
  background-color: #C54242;
  min-height: 100vh;
  position: relative;
}

/* Shared tab styles */
.players-tab,
.teams-tab {
  height: 50px;
  width: 320px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 30px;
  font-weight: 600;

  position: absolute;
  top: -50px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* ACTIVE tab (Players page) */
.players-tab {
  background-color: #354CA1;
  right: 0px;
}

/* INACTIVE tab (still clickable, visually behind) */
.teams-tab {
  background-color: #C54242;
  right: 350px;
}
